@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

 @import "tailwindcss";
 @plugin "daisyui";

*{
      font-family: "Noto Sans Bengali", sans-serif;


}

@layer utilities {
  /* Custom X (clear) button for search input */
  .custom-search::-webkit-search-cancel-button {
    @apply appearance-none h-4 w-4 bg-amber-500 rounded-full cursor-pointer transition-colors duration-200;
    mask: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M2 2l12 12m0-12L2 14" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') no-repeat center;
  }

  .custom-search::-webkit-search-cancel-button:hover {
    @apply bg-amber-600;
  }
}